<div class="bg-gradient-to-r from-blue-700 via-indigo-400 to-indigo-500 min-h-[100vh]">
  <div class="flex flex-col items-center pt-32 md:pt-40 px-4 md:px-0 w-full">
    <h1 class="font-bold text-7xl font-main text-indigo-100 text-center">PLUH GANG</h1>
    <p class="text-4xl text-gray-100 mt-16 text-center font-digital"> Friday 13th, Oct 2k23 </p>

    <div class="grid gap-4 mt-16">
      <% @songs.each.with_index do |song, index| %>
        <div class="text-2xl text-gray-200 font-pro"> <%= index + 1 %>. <%= song %> </div>
      <% end %>
    </div>
  </div>
  <div class="mt-16 max-w-5xl w-full mx-auto px-4 pb-16">
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1676234598&color=%23a567ff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/snugaluff" title="snugaluff" target="_blank" style="color: #cccccc; text-decoration: none;">snugaluff</a> · <a href="https://soundcloud.com/snugaluff/sets/pluhtape" title="pluhtape" target="_blank" style="color: #cccccc; text-decoration: none;">pluhtape</a></div>
  </div>
</div>
